html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none !important;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}

button,
input[type=cancel],
input[type=reset],
input[type=submit]:hover {
  cursor: pointer;
}

input[type=file],
input[type=password],
input[type=submit],
input[type=text],
input[type=email],
input[type=search],
textarea,
select {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: auto;
}

select::ms-expand {
  display: none;
}

input::-ms-clear {
  display: none;
}

/**************
END RESETT CSS
****************/
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/Montserrat-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/Montserrat-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/Montserrat-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/Montserrat-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

:root {
  --grey: #e6e6e6;
  --grey-dark: #b5b8bb;
  --grey-darken: #5a6065;
  --grey-darker: #888c8f;
  --grey-light: #f8f8f8;
  --black: #0b1116;
  --black-light: #333a40;
  --border-color: #ebeef1;
  --red: #d2295c;
  --red-light: #eb5757;
  --yellow: #f2c94c;
  --green: #6fcf97;
  --nd: #ddd9e0;
}

html,
body {
  min-height: 100%;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--grey-light);
  color: var(--grey-darken);
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
}

img {
  max-width: 100%;
}

a {
  color: currentColor;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

h1,
.h1 {
  font-size: 36px;
}

h2,
.h2 {
  font-size: 34px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 20px;
}

h5,
.h5 {
  font-size: 18px;
}

.fz-14 {
  font-size: 14px;
}

.fz-12 {
  font-size: 12px;
}

.fz-10 {
  font-size: 10px;
}

.fz-8 {
  font-size: 8px;
}

p {
  line-height: 1.5;
}

b,
strong,
.font-700 {
  font-weight: 700;
}

.font-600 {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.black {
  color: var(--black);
}

.black-light {
  color: var(--black-light);
}

.grey {
  color: var(--grey);
}

.grey-light {
  color: #b5b8bb;
}

.grey-dark {
  color: var(--grey-dark);
}

.grey-darken {
  color: var(--grey-darken);
}

.grey-darker {
  color: var(--grey-darker);
}

b {
  font-weight: 700;
}

.wrapper {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.container {
  padding: 0 15px;
  width: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mb-05 {
  margin-bottom: 5px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-4 {
  margin-right: 40px;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 20px;
}

.p-3 {
  padding: 30px;
}

.pt-1 {
  padding-top: 10px;
}

.px-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.text-right {
  text-align: right;
}

.text-underline {
  text-decoration: underline;
}

.border {
  border: 1px solid var(--border-color);
}

.border-radius {
  border-radius: 8px;
}

.border-circle {
  border-radius: 50%;
}

.border-bottom-dasshed {
  border-bottom: 2px dashed var(--border-color);
}

.border-bottom {
  border-bottom: 1px solid var(--border-color);
}

.border-top {
  border-top: 1px solid var(--border-color);
}

.border-left {
  border-left: 1px solid var(--border-color);
}

.border-right {
  border-right: 1px solid var(--border-color);
}

.bg-white {
  background-color: #fff;
}

.bg-grey {
  background-color: var(--grey-light);
}

.bg-grey-dark {
  background-color: #e0e0e0;
}

.col-2 {
  width: 20%;
}

.col-3 {
  width: 30%;
}

.col-4 {
  width: 40%;
}

.col-5 {
  width: 50%;
}

.col-6 {
  width: 60%;
}

.col-7 {
  width: 70%;
}

.col-8 {
  width: 80%;
}

.col-9 {
  width: 90%;
}

.col-10 {
  width: 100%;
}

.col-auto {
  width: auto;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

[class^="col-"] {
  padding: 0 15px;
}

.red {
  color: var(--red);
}

.red-light {
  color: var(--red-light);
}

.yellow {
  color: var(--yellow);
}

.green {
  color: var(--green);
}

.severe {
  background-color: var(--red);
}

.hight {
  background-color: var(--red-light);
}

.medium {
  background-color: var(--yellow);
}

.low {
  background-color: var(--green);
}

.nd {
  background-color: var(--nd);
}

.divider {
  width: 100%;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, #fff), color-stop(40%, #ebeef1));
  background-image: linear-gradient(to right, #fff 40%, #ebeef1 40%);
  background-size: 20px 1px;
  background-repeat: repeat-x;
}

.divider--dashed {
  border-style: dashed;
}

.h-100 {
  height: 100%;
}

/*Header*/
.header {
  padding: 25px 0 15px;
}

.id-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.id-block__item {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-size: 14px;
  padding-right: 5px;
  padding-top: 3px;
  color: #B5B8BB;
  border: 1px solid var(--grey);
}

.id-block__item:not(:last-child) {
  margin-right: 10px;
}

.block--two-column > .block__item {
  width: calc(50% - 10px);
}

.warning {
  border-radius: 15px;
  border: 2px dashed var(--grey-dark);
  padding: 10px;
}

.warning .icon {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.warning .icon img {
  width: 100%;
}

.result-block__item {
  white-space: nowrap;
}

.result-block__item:not(:last-child) {
  margin-right: 10px;
}

.result-block__item--circle {
  width: 90px;
  height: 90px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.result-block__item--tags {
  width: 50%;
}

.tags-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tags-list li {
  color: #b5b8bb;
  font-size: 12px;
  background: #fcfbfd;
  border: 1px solid #eceff1;
  padding: 5px 8px;
  line-height: 1;
  border-radius: 4px;
  margin-right: 10px;
  margin-top: 10px;
}

.transactions-block__data {
  width: calc(65% - 20px);
}

.transactions-block__options {
  width: 35%;
}

.transactions-block__options__item:not(:last-child) {
  margin-bottom: 20px;
}

.check-list li {
  margin-bottom: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #828282;
}

.check-list li span {
  width: 18px;
  height: 18px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-right: 10px;
}

.check-list li span img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.check-list--wrap li:not(:last-child) {
  margin-right: 1em;
}

.icon-info {
  width: 24px;
  height: 24px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-info img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.linear-graph-wrapper {
  position: relative;
  height: 70px;
  width: 100%;
  border: 1px solid var(--border-color);
  margin-bottom: 20px;
}

.linear-graph-wrapper .tip {
  position: absolute;
  bottom: calc(100% + 10px);
  border-radius: 4px;
  padding: 15px 20px;
  font-size: 16px;
  color: var(--black);
  background-color: #fff;
  line-height: 1;
  -webkit-box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
          box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.linear-graph-wrapper .tip::after {
  content: "";
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #fff;
  position: absolute;
  top: 100%;
  left: calc(100% - 40px);
}

.linear-graph__item {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.linear-graph__item.severe {
  z-index: 5;
}

.linear-graph__item.high {
  background-color: var(--grey-darken);
}

.linear-graph__item.medium {
  z-index: 3;
}

.linear-graph__item.low {
  z-index: 2;
}

.linear-graph__item.undefined {
  background-color: #efeff5;
}

.linear-graph__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.linear-graph__descr li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  font-size: 14px;
  margin-bottom: 10px;
}

.linear-graph__descr li:not(:last-child) {
  margin-right: 30px;
}

.linear-graph__colour {
  width: 18px;
  height: 18px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-right: 5px;
}

.linear-graph__colour.undefined {
  background-color: #efeff5;
  border: 1px solid #f3eff5;
}

.illegal-funds__left {
  width: 33%;
}

.illegal-funds__right {
  width: calc(67% - 20px);
}

.illegal-funds__status {
  border: 2px solid var(--border-color);
  border-radius: 15px;
  background-color: var(--grey-light);
}

.dial {
  border-color: var(--grey-light);
  color: var(--green);
  display: inline-block;
  text-align: left;
}

.dial p {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: var(--green);
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 0;
}

.dial canvas {
  position: absolute;
}

.column-graph__top {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 77px;
}

.column-graph__descr {
  font-size: 14px;
}

.column-graph__descr li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none !important;
  color: #828282;
}

.column-graph__descr li:not(:last-child) {
  margin-right: 15px;
}

.column-graph__descr li::before {
  content: "";
  width: 18px;
  height: 18px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-right: 10px;
}

.column-graph__descr li.severe::before {
  background-color: #616273;
}

.column-graph__descr li.high::before {
  background-color: #40424e;
}

.column-graph__descr li.medium::before {
  background-color: #2b2d35;
}

.column-graph__descr li.low::before {
  background-color: #121315;
}

.column-graph__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
}

.column-graph__item__col {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  padding-top: 10px;
  color: #fff;
}

.column-graph__item__col span::after {
  content: '%';
}

.column-graph__item__col.severe {
  background-color: #616273;
}

.column-graph__item__col.high {
  background-color: #40424e;
}

.column-graph__item__col.medium {
  background-color: #2b2d35;
}

.column-graph__item__col.low {
  background-color: #121315;
}

.column-graph__wrapper {
  width: 33.333%;
}

.check-block__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.status {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 4px 7px;
  line-height: 1;
  color: #fff;
  border-radius: 4px;
}

.status--lg {
  font-size: 24px;
  font-weight: 700;
  padding: 20px;
}

.status--success {
  background-color: var(--green);
}

.status--wait {
  background-color: var(--yellow);
}

.status--error {
  background-color: var(--red-light);
}

.toggle-block__open__btn {
  font-size: 14px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggle-block__open__btn::after {
  content: "";
  width: 12px;
  height: 6px;
  background: url("../img/angle_down.svg") center no-repeat;
  background-size: contain;
  position: relative;
  top: 2px;
  margin-left: 8px;
}

.toggle-block__open__btn span {
  white-space: nowrap;
  margin-right: 3px;
}

.toggle-block__open__btn:hover span {
  color: var(--black);
}

.toggle-block .status {
  min-width: 140px;
  text-align: center;
}

.toggle-block.is-open .toggle-block__content {
  display: block;
}

.toggle-block.is-open .toggle-block__open__btn::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 0;
}

.toggle-block__content {
  border-top: 2px dashed #F3EFF5;
  display: none;
}

.toggle-block__content__data__graph {
  width: 400px;
}

.toggle-block__content__data__graph img {
  max-width: 100%;
}

.data__descr__list {
  margin-top: 10px;
}

.data__descr__list li {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #888C8F;
}

.data__descr__list li ul {
  padding-left: 1em;
  margin-top: 5px;
}

.data__descr__list .icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.open-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #D3D3D3;
  padding: 15px 24px;
  white-space: nowrap;
  border-radius: 8px;
  font-size: 16px;
  color: #333333;
}

.open-link:hover {
  border-color: var(--black);
  color: var(--black);
}

.social {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.social:hover {
  border-color: var(--black);
}

.link-block a {
  display: inline-block;
  vertical-align: bottom;
  max-width: 380px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: underline;
}

.link-block a:hover {
  text-decoration: none;
}

.notice-block__left {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 80px;
  min-height: 80px;
  border-radius: 8px 0 0 8px;
}

.notice-block__right {
  line-height: 150%;
  border-radius: 0 8px 8px 0;
}

.audit-result-icon-group {
  margin: 0 -5px 15px;
}

.icon-group__item {
  padding: 0 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 33.333%;
}

.icon-group__item__content {
  border: 2px dashed var(--border-color);
  border-radius: 8px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  line-height: 1.4;
}

.icon-group__item__img {
  margin-bottom: 7px;
  position: relative;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
}

.icon-group__item__img span {
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
}

.badge {
  display: inline-block;
  vertical-align: bottom;
  border-radius: 4px;
  padding: 5px 8px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.verification-statuses {
  margin-left: -5px;
  margin-right: -5px;
}

.verification-statuses__item {
  width: 25%;
  padding: 0 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.verification-statuses__item__icon {
  height: 40px;
  margin-bottom: 7px;
}

.verification-statuses__item__icon.success {
  color: var(--green);
}

.verification-statuses__item__icon.error {
  color: var(--red);
}

.table-wrapper {
  position: relative;
  padding-left: 20px;
}

.table-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  border-radius: 4px;
}

.table-wrapper--severe::before {
  background-color: var(--red);
}

.table-wrapper--hight::before {
  background-color: var(--red-light);
}

.table-wrapper--medium::before {
  background-color: var(--yellow);
}

.table-wrapper--low::before {
  background-color: var(--green);
}

.table {
  table-layout: fixed;
  width: 100%;
}

.table td {
  padding: 12px 10px;
  font-size: 14px;
  color: #5a6065;
}

.table thead td {
  font-size: 12px;
  background-color: #fafafa;
  color: #b5b8bb;
}

.table thead td:first-child {
  border-radius: 8px 0 0 8px;
}

.table thead td:last-child {
  border-radius: 0 8px 8px 0;
}

.table tbody td:last-child {
  font-weight: 500;
}

.table tfoot td {
  background-color: #f2f2f2;
}

.table tfoot td:first-child {
  border-radius: 8px 0 0 8px;
}

.table tfoot td:last-child {
  font-weight: 700;
  border-radius: 0 8px 8px 0;
}

.social-block__left .status {
  width: 80px;
  height: 60px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
}

.social-block__left .status--good {
  background-color: #F2F9EC;
  color: var(--green);
}

.social-block__left .status--bad {
  background-color: #FCF0F0;
  color: var(--red-light);
}

/*Footer*/
