.block {
  &--two-column {
    & > .block__item {
      width: calc(50% - 10px);
    }
  }
  &__item {
    &__top {
    }
  }
}
.warning {
  border-radius: 15px;
  border: 2px dashed var(--grey-dark);
  padding: 10px;
  .icon {
    flex: none;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    img {
      width: 100%;
    }
  }
}
.result-block {
  &__item {
    white-space: nowrap;
    &:not(:last-child) {
      margin-right: 10px;
    }
    &--circle {
      width: 90px;
      height: 90px;
      flex: none;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    &--tags {
      width: 50%;
    }
  }
}
.tags-list {
  display: flex;
  flex-wrap: wrap;
  li {
    color: #b5b8bb;
    font-size: 12px;
    background: #fcfbfd;
    border: 1px solid #eceff1;
    padding: 5px 8px;
    line-height: 1;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 10px;
  }
}
.transactions-block {
  &__data {
    width: calc(65% - 20px);
  }
  &__options {
    width: 35%;
    &__item {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
.check-list {
  li {
    margin-bottom: 15px;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    color: #828282;
    span {
      width: 18px;
      height: 18px;
      flex: none;
      margin-right: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  &--wrap {
    li {
      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }
}
.icon-info {
  width: 24px;
  height: 24px;
  flex: none;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.linear-graph-wrapper {
  position: relative;
  height: 70px;
  width: 100%;
  border: 1px solid var(--border-color);
  margin-bottom: 20px;
  .tip {
    position: absolute;
    bottom: calc(100% + 10px);
    border-radius: 4px;
    padding: 15px 20px;
    font-size: 16px;
    color: var(--black);
    background-color: #fff;
    line-height: 1;
    box-shadow: 0 6px 18px rgba($color: #000000, $alpha: 0.15);
    z-index: 10;
    &::after {
      content: "";
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-top-color: #fff;
      position: absolute;
      top: 100%;
      left: calc(100% - 40px);
    }
  }
}
.linear-graph__item {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  &.severe {
    z-index: 5;
  }
  &.high {
    background-color: var(--grey-darken);
  }
  &.medium {
    z-index: 3;
  }
  &.low {
    z-index: 2;
  }
  &.undefined {
    background-color: #efeff5;
  }
}
.linear-graph__descr {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  li {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 14px;
    margin-bottom: 10px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.linear-graph__colour {
  width: 18px;
  height: 18px;
  flex: none;
  margin-right: 5px;
  &.undefined {
    background-color: #efeff5;
    border: 1px solid #f3eff5;
  }
}
.illegal-funds {
  &__left {
    width: 33%;
  }
  &__right {
    width: calc(67% - 20px);
  }
  &__status {
    border: 2px solid var(--border-color);
    border-radius: 15px;
    background-color: var(--grey-light);
  }
}
.dial {
  border-color: var(--grey-light);
  color: var(--green);
  display: inline-block;
  text-align: left;
  p {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: var(--green);
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin: 0;
  }
  canvas {
    position: absolute;
  }
}

.column-graph {
  &__top {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 77px;
  }
  &__descr {
    font-size: 14px;
    li {
      display: flex;
      align-items: center;
      background: none !important;
      color: #828282;
      &:not(:last-child) {
        margin-right: 15px;
      }
      &::before {
        content: "";
        width: 18px;
        height: 18px;
        flex: none;
        margin-right: 10px;
      }
      &.severe {
        &::before {
          background-color: #616273;
        }
      }
      &.high {
        &::before {
          background-color: #40424e;
        }
      }
      &.medium {
        &::before {
          background-color: #2b2d35;
        }
      }
      &.low {
        &::before {
          background-color: #121315;
        }
      }
    }
  }
  &__item {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 200px;
    &__col {
      flex: none;
      width: 55px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      font-size: 14px;
      padding-top: 10px;
      color: #fff;
      span {
        &::after {
          content: '%';
        }
      }
      &.severe {
        background-color: #616273;
      }
      &.high {
        background-color: #40424e;
      }
      &.medium {
        background-color: #2b2d35;
      }
      &.low {
        background-color: #121315;
      }
    }
  }
  &__wrapper {
    width: 33.333%;
  }
}
.check-block {
  &__item {
    flex-grow: 1;
  }
}
.status {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 4px 7px;
  line-height: 1;
  color: #fff;
  border-radius: 4px;
  &--lg {
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
  }
  &--success {
    background-color: var(--green);
  }
  &--wait {
    background-color: var(--yellow);
  }
  &--error {
    background-color: var(--red-light);
  }
}
.toggle-block__open__btn {
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  &::after {
    content: "";
    width: 12px;
    height: 6px;
    background:url('../img/angle_down.svg') center no-repeat;
    background-size: contain;
    position: relative;
    top: 2px;
    margin-left: 8px;
  }
  span {
    white-space: nowrap;
    margin-right: 3px;
  }
  &:hover {
    span {
      color: var(--black);
    }
  }
}
.toggle-block {
  .status {
    min-width: 140px;
    text-align: center;
  }
  &.is-open {
    .toggle-block__content {
      display: block;
    }
    .toggle-block__open__btn {
      &::after {
        transform: rotate(180deg);
        top: 0;
      }
    }
  }
}
.toggle-block__content {
  border-top: 2px dashed #F3EFF5;
  display: none;
}
.toggle-block__content__data {
  &__graph {
    width: 400px;
    img {
      max-width: 100%;
    }
  }
}
.data__descr__list {
  margin-top: 10px;
  li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #888C8F;
    ul {
      padding-left: 1em;
      margin-top: 5px;
    }
  }
  .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    flex: none;
  }
}
.open-link {
  display: inline-flex;
  align-items: center;
  border: 1px solid #D3D3D3;
  padding: 15px 24px;
  white-space: nowrap;
  border-radius: 8px;
  font-size: 16px;
  color: #333333;
  &:hover {
    border-color: var(--black);
    color: var(--black);
  }
}
.social {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &:hover {
    border-color: var(--black);
  }
}
.link-block {
  a {
    display: inline-block;
    vertical-align: bottom;
    max-width: 380px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
.notice-block__left {
  flex: none;
  width: 80px;
  min-height: 80px;
  border-radius: 8px 0 0 8px;
}
.notice-block__right {
  line-height: 150%;
  border-radius: 0 8px 8px 0;
}
.audit-result-icon-group {
  margin: 0 -5px 15px;
}
.icon-group__item {
  padding: 0 5px;
  flex-grow: 1;
  width: 33.333%;
  &__content {
    border: 2px dashed var(--border-color);
    border-radius: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    line-height: 1.4;
  }
  &__img {
    margin-bottom: 7px;
    position: relative;
    min-height: 60px;
    display: flex;
    align-items: center;
    line-height: 1;
    span {
      font-size: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      white-space: nowrap;
    }
  }
}
.badge {
  display: inline-block;
  vertical-align: bottom;
  border-radius: 4px;
  padding: 5px 8px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
}
.verification-statuses {
  margin-left: -5px;
  margin-right: -5px;
  &__item {
    width: 25%;
    padding: 0 5px;
    flex-grow: 1;
    text-align: center;
    &__icon {
      height: 40px;
      margin-bottom: 7px;
      &.success {
        color: var(--green);
      }
      &.error {
        color: var(--red);
      }
    }
  }
}
.table-wrapper {
  position: relative;
  padding-left: 20px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    border-radius: 4px;
  }
  &--severe {
    &::before {
      background-color: var(--red);
    }
  }
  &--hight {
    &::before {
      background-color: var(--red-light);
    }
  }
  &--medium {
    &::before {
      background-color: var(--yellow);
    }
  }
  &--low {
    &::before {
      background-color: var(--green);
    }
  }
}
.table {
  table-layout: fixed;
  width: 100%;
  td {
    padding: 12px 10px;
    font-size: 14px;
    color: #5a6065;
  }
  thead {
    td {
      font-size: 12px;
      background-color: #fafafa;
      color: #b5b8bb;
      &:first-child {
        border-radius: 8px 0 0 8px;
      }
      &:last-child {
        border-radius: 0 8px 8px 0;
      }
    }
  }
  tbody {
    td {
      &:last-child {
        font-weight: 500;
      }
    }
  }
  tfoot {
    td {
      background-color: #f2f2f2;
      &:first-child {
        border-radius: 8px 0 0 8px;
      }
      &:last-child {
        font-weight: 700;
        border-radius: 0 8px 8px 0;
      }
    }
  }
}
.social-block__left .status{
  width: 80px;
  height: 60px;
  flex: none;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  &--good {
    background-color: #F2F9EC;
    color: var(--green)
  }
  &--bad {
    background-color: #FCF0F0;
    color: var(--red-light)
  }
}