@font-face {
	font-family: "Montserrat";
	src: url("../font/Montserrat/Montserrat-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src: url("../font/Montserrat/Montserrat-Medium.woff") format("woff");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src: url("../font/Montserrat/Montserrat-SemiBold.woff") format("woff");
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src: url("../font/Montserrat/Montserrat-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src: url("../font/Montserrat/Montserrat-Light.woff") format("woff");
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}

