/*Header*/ 
.header {
    padding: 25px 0 15px;
}
.id-block {
    display: flex;
    &__item {
        flex: none;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: start;
        justify-content: end;
        font-size: 14px;
        padding-right: 5px;
        padding-top: 3px;
        color: #B5B8BB;
        border: 1px solid var(--grey);
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}