:root {
  --grey: #e6e6e6;
  --grey-dark: #b5b8bb;
  --grey-darken: #5a6065;
  --grey-darker: #888c8f;
  --grey-light: #f8f8f8;
  --black: #0b1116;
  --black-light: #333a40;
  --border-color: #ebeef1;
  --red: #d2295c;
  --red-light: #eb5757;
  --yellow: #f2c94c;
  --green: #6fcf97;
  --nd: #ddd9e0;
}
html,
body {
  min-height: 100%;
}
html {
  font-size: 16px;
}
body {
  background-color: var(--grey-light);
  color: var(--grey-darken);
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
}
img {
  max-width: 100%;
}
a {
  color: currentColor;
  transition: all 0.2s;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 34px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 20px;
}
h5,
.h5 {
  font-size: 18px;
}
.fz-14 {
  font-size: 14px;
}
.fz-12 {
  font-size: 12px;
}
.fz-10 {
  font-size: 10px;
}
.fz-8 {
  font-size: 8px;
}
p {
  line-height: 1.5;
}
b,
strong,
.font-700 {
  font-weight: 700;
}
.font-600 {
  font-weight: 600;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.black {
  color: var(--black);
}
.black-light {
  color: var(--black-light);
}
.grey {
  color: var(--grey);
}
.grey-light {
  color: #b5b8bb;
}
.grey-dark {
  color: var(--grey-dark);
}
.grey-darken {
  color: var(--grey-darken);
}
.grey-darker {
  color: var(--grey-darker);
}
b {
  font-weight: 700;
}
.wrapper {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.container {
  padding: 0 15px;
  width: 100%;
}
.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.flex {
  display: flex;
}
.flex-inline {
  display: inline-flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.mb-05 {
  margin-bottom: 5px;
}
.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-3 {
  margin-bottom: 30px;
}
.mb-4 {
  margin-bottom: 40px;
}
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-4 {
  margin-top: 40px;
}
.mr-1 {
  margin-right: 10px;
}
.mr-2 {
  margin-right: 20px;
}
.mr-4 {
  margin-right: 40px;
}
.ml-1 {
  margin-left: 10px;
}
.ml-2 {
  margin-left: 20px;
}
.p-0 {
  padding: 0 !important;
}
.p-1 {
  padding: 10px;
}
.p-2 {
  padding: 20px;
}
.p-3 {
  padding: 30px;
}
.pt-1 {
  padding-top: 10px;
}
.px-1 {
  padding-left: 10px;
  padding-right: 10px;
}
.px-2 {
  padding-left: 20px;
  padding-right: 20px;
}
.px-3 {
  padding-left: 30px;
  padding-right: 30px;
}
.text-right {
  text-align: right;
}
.text-underline {
  text-decoration: underline;
}
.border {
  border: 1px solid var(--border-color);
}
.border-radius {
  border-radius: 8px;
}
.border-circle {
  border-radius: 50%;
}
.border-bottom-dasshed {
  border-bottom: 2px dashed var(--border-color);
}
.border-bottom {
  border-bottom: 1px solid var(--border-color);
}
.border-top {
  border-top: 1px solid var(--border-color);
}
.border-left {
  border-left: 1px solid var(--border-color);
}
.border-right {
  border-right: 1px solid var(--border-color);
}
.bg-white {
  background-color: #fff;
}
.bg-grey {
  background-color: var(--grey-light);
}
.bg-grey-dark {
  background-color: #e0e0e0;
}
.col-2 {
  width: 20%;
}
.col-3 {
  width: 30%;
}
.col-4 {
  width: 40%;
}
.col-5 {
  width: 50%;
}
.col-6 {
  width: 60%;
}
.col-7 {
  width: 70%;
}
.col-8 {
  width: 80%;
}
.col-9 {
  width: 90%;
}
.col-10 {
  width: 100%;
}
.col-auto {
  width: auto;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
}
[class^="col-"] {
  padding: 0 15px;
}
.red {
  color: var(--red);
}
.red-light {
  color: var(--red-light);
}
.yellow {
  color: var(--yellow);
}
.green {
  color: var(--green);
}
.severe {
  background-color: var(--red);
}
.hight {
  background-color: var(--red-light);
}
.medium {
  background-color: var(--yellow);
}
.low {
  background-color: var(--green);
}
.nd {
  background-color: var(--nd);
}
.divider {
  width: 100%;
  // border-bottom: 2px solid var(--border-color);
  height: 1px;
  background-image: linear-gradient(to right, #fff 40%, #ebeef1 40%);
  background-size: 20px 1px;
  background-repeat: repeat-x;
  &--dashed {
    border-style: dashed;
  }
}
.h-100 {
  height: 100%;
}
